@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bulky Book</h1>
    <p>
        Bulky Book is an ASP.NET Core CRUD web project created to showcase C# .NET functionalities. 
        It can insert, view, edit, and delete records in the database. 
        The Bulky Book web project utilizes HTML, JavaScript, CSS, ASP.NET Core, and Toastr.js. 
        Visual Studio 2022 Community Edition and SQL Server Management Studio were used for this project.
    <p>
    <hr />
    <p>
        Please visit the <strong class="text-primary">Category</strong> section in the navigation for the operations!
    </p>

</div>
